*{
    padding: 0;
    margin: 0;
}
body{
    height:100vmax;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}
header{
    background-color:white;
    height: 4.75em;
}
img{
    max-width: 55px;
    margin: 15px;
}

.head-tag{
    float: right;
    margin-top: 35px;
    margin-right: 50px;
}

.head-tag a{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-decoration: none;
font-size:large;
color: black;
border: 0.5px solid black;
margin: 8px;
padding: 8px;
}
.sidebar{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    padding: 100px;
}
.sidebar li{
    padding: 1%;
}
label{
    padding: 0.5%;
    margin: 00.5%;
}
/* form */
.login{
    text-align: center;
    float: right;
    border: 5px solid burlywood;
    background-color: white;
    height:15em ;
    margin-top: 6%;
    margin-right: 5%;
    margin-bottom: 3%;
    padding: 30px;
}
.login h2{
text-align: center;
}
.login input{
    height: 1.5em;
}
.login #login-button{
    width: 70%;
    height: 2em;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
}
.container{
    margin-top: 31%;
    margin-left: 5%;
    margin-right: 5%;
    color: black;
}
.p-box {
   border: 4px solid burlywood;
   width: 20%;
   float: left;
   margin: 15px;
   height: 10em;
   padding: 5px;
   background-color: #cccccc;
}
.p-box h3{
    text-align: center;
    text-transform: uppercase;
    padding: 2px;
}
.p-box a{
    text-decoration:none;
    color: red;
}

footer{
    background-color: white;
    text-align: center;
    height: 10em;
    margin-top: 70%;
    height: 18px ;
    color: black;
}